name: Linux

# Controls when the action will run.
on:
  # Triggers the workflow on events but only for branches.
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on

    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-latest]
        build_type: [Debug, Release]
        cxx: [g++-8, g++-9, g++-10]
        cxxstd: [20]
        include:
          - cxx: g++-8
            install: sudo apt-get install -q -y g++-8
          - cxx: g++-9
            install: sudo apt-get install -q -y g++-9
          - cxx: g++-10
            install: sudo apt-get install -q -y g++-10

    runs-on: ${{matrix.os}}
    env:
      CXX: ${{matrix.cxx}}
      FMT_SRC_DIR: ${{github.workspace}}/third_party/fmt
      SPDLOG_SRC_DIR: ${{github.workspace}}/third_party/spdlog
      MODULE_PREFIX: ${{github.workspace}}/third_party/module

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup packages
        run: |
          sudo apt-get update -q -y > /dev/null
          sudo apt-get install -q -y build-essential ninja-build cmake libgmp-dev libgtest-dev
          ${{matrix.install}}

      - name: Download libfmt
        run: |
          git clone https://github.com/fmtlib/fmt.git -b 7.1.3 --depth 1 $FMT_SRC_DIR
          cmake -E make_directory $FMT_SRC_DIR/build

      - name: Download libspdlog
        run: |
          git clone https://github.com/gabime/spdlog.git -b v1.8.2 --depth 1 $SPDLOG_SRC_DIR
          cmake -E make_directory $SPDLOG_SRC_DIR/build

      - name: Install googletest for Ubuntu 18.04
        run: |
          if grep "DISTRIB_RELEASE=18.04" /etc/lsb-release ; then \
            cd /usr/src/googletest; \
            sudo cmake -G Ninja .; \
            sudo cmake --build . --target install; \
          fi

      - name: Install libfmt
        run: |
          cd $FMT_SRC_DIR
          cmake -G Ninja \
            -DCMAKE_BUILD_TYPE=${{matrix.build_type}} \
            -DCMAKE_INSTALL_PREFIX=$MODULE_PREFIX \
            -DCMAKE_CXX_STANDARD=${{matrix.cxxstd}} \
            $FMT_SRC_DIR
          cmake --build . --target install

      - name: Install libspdlog
        run: |
          cd $SPDLOG_SRC_DIR
          cmake -G Ninja \
            -DCMAKE_BUILD_TYPE=${{matrix.build_type}} \
            -DCMAKE_INSTALL_PREFIX=$MODULE_PREFIX \
            -DCMAKE_CXX_STANDARD=${{matrix.cxxstd}} \
            $SPDLOG_SRC_DIR
          cmake --build . --target install

      - name: Config and Build
        run: |
          cmake -E make_directory build
          cd build
          cmake -G Ninja \
            -DCMAKE_BUILD_TYPE=${{matrix.build_type}} \
            -DCMAKE_CXX_STANDARD=${{matrix.cxxstd}} \
            ..
          cmake --build .

      - name: Show logs when failed
        if: ${{failure()}}
        run: |
          cat "${{github.workspace}}/build/CMakeFiles/CMakeOutput.log"
          echo ++++
          cat "${{github.workspace}}/build/CMakeFiles/CMakeError.log"

      - name: Test
        run: cd build; ctest
