name: Sample

on:
  push:
    branches: [master, develop]
  workflow_dispatch:

jobs:
  demo1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup packages
        run: echo This is a sample.

  demo2:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup packages
        run: echo This is a sample.